body {
    color: white;
    background-image: url(https://images5.alphacoders.com/351/thumb-1920-351364.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    font-family: Tahoma;
    font-size: larger;
}
.container {
    padding-top: 30px;
    background-attachment: fixed;
    background: rgba(0, 0, 0, 0.6);

}

header {
    margin: 0;
    margin-bottom: 40px;
    text-align: center;
}
#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#description {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

form {
    margin: 0 auto;
    padding: 50px 40px;
    padding-left: 30px;
    padding-right: 50px;
    width: 70%;
    background-color: rgba(37, 40, 46, 0.9);
    max-width: 800px;
	min-width: 300px;
    border-radius: 5px;
}
fieldset {
    border: none;
}
label {
    display: block;
}
input, textarea {
    background-color: rgb(29, 31, 36);
    border: 1px solid rgb(29, 31, 36);
    color: white;
}
input, textarea, select {
    min-height: 2.5em;
    width: 100%;
    margin: 10px 0 0 0;
    font-size: medium;
    font-family: Consolas,Menlo,"courier new",monospace;
    padding-left: 15px;
    border-radius: 5px;
}
input[name="type_meeting"] {
    margin: 0px 7px 0px 0px;
    vertical-align: middle;
    width: 1.5em;
}
.inline {
    width: 1.5em;
    margin: 0px 5px 0px 0px;
    vertical-align: middle;
}
.subtitle {
    margin-top: 40px;
    margin-bottom: 0;
}
.preference {
    margin-bottom: 40px;
    margin-top: 20px;
}
#email-label, #number-label {
    margin-top: 25px;
}
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 40px auto;
    height: 2em;
    font-size: large;
    background-color: rgb(60, 160, 60);
    border-color: rgb(60, 160, 60);
    min-width: 300px;
  }

  input[type="submit"]:hover {
    cursor: pointer;
  }
  input[type="submit"]:active {
    background-color: rgb(43, 109, 43);
    border-color: rgb(43, 109, 43);
  }